{% extends "shortlink/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <main role="main" class="container">
        <br>
        <form action="{% url 'shortlink:contact_us' %}" method="post">
            {% csrf_token %}

            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <h4>Contact us with the feedback form down below.</h4>
                    <br>
                    {{ form.name|as_crispy_field }}
                    {{ form.email|as_crispy_field }}
                    {{ form.subject|as_crispy_field }}
                    {{ form.message_text|as_crispy_field }}

                    <table>
                        <tr>
                            <td>
                                <button class="btn btn-warning" type="submit">
                                    send message
                                </button>
                            </td>
                            <td>
                                <a href="{% url 'shortlink:index' %}" class="btn btn-secondary active" role="button"
                                   aria-pressed="true">back to mainpage</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </form>
    </main>

{% endblock content %}