{% extends "shortlink/base.html" %}

{% load crispy_forms_tags %}

{% block content %}


    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-3">
                {{ form|crispy }}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Short link: http://ya.link/{{ link.slug }}
            </div>
        </div>
        <br>
        <table>
            <tr>
                <td>
                    <button class="btn btn-warning" type="submit">
                        update
                    </button>
                </td>
                <td>
                    <a href="{% url 'shortlink:index' %}" class="btn btn-secondary active" role="button"
                       aria-pressed="true">back to URLs</a>
                </td>
            </tr>
        </table>
    </form>

{% endblock content %}
