{% extends "shortlink/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

        <main role="main" class="container">
            <form action="{% url 'shortlink:manage_domains' %}" method="post">
            {% csrf_token %}
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <br>
                        <h4>Create your domains</h4>
                        <br>
                        <br>

                        {{ form.domain_name|as_crispy_field }}
                    </div>
                    <div class="col-sm-3">                </div>
                </div>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <button class="btn btn-warning" type="submit">
                            create domain
                        </button>
                        <a href="{% url 'shortlink:index' %}" class="btn btn-secondary active" role="button" aria-pressed="true">back to URLs</a>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </form>
            <br>
            <br>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    {% if my_domains_list %}
                        {% for domain in my_domains_list %}
                            <table>
                                <tr>
                                    <td align="center">
                                        <text class="domain">{{ domain.domain_name }}</text>
                                    </td>

                                    <td valign="top" align="center">
                                        <a href="#modalDeleteDomain" class="btn btn-outline-danger btn-sm"
                                                                       data-toggle="modal" data-target="#modalDeleteDomain{{ domain.id }}">Delete</a>
                                    </td>

                                </tr>
                            </table>


                            <!--Модальное окно подтверждения удаления домена-->
                            {% include 'shortlink/delete_domain.html' %}
                        {% endfor %}
                    {% else %}
                        Your domains will appear here. Create one!
                    {% endif %}
                </div>
                <div class="col-sm-3"></div>
            </div>
        </main>

{% endblock content %}
