{% load static %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'shortlink:manage_domains' %}">Manage domains</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'shortlink:create_utm' %}">Create UTM link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'shortlink:about_the_project' %}">About the project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'shortlink:contact_us' %}">Contact us</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'shortlink:about_the_project' %}">About the project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'shortlink:contact_us' %}">Contact us</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="mx-auto order-0" align="center">
        <a class="navbar-brand mx-auto" href="{% url 'shortlink:index' %}">
            <img class="img" src="{% static 'shortlink/img/logo.png' %}"/>
        </a>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <span class="navbar-text">
                    <a href="{% url 'account_email' %}">{{ user.username }}</a>
                </span>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}">log out</a>
                </li>

            {% else %}

                <h6><a class="nav-link" href="{% url 'account_login' %}">log in</a></h6>
                <h6><a class="nav-link" href="{% url 'account_signup' %}">sign up</a></h6>

            {% endif %}
        </ul>
    </div>
</nav>