{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link rel="stylesheet" href="{% static 'shortlink/css/shortlink.css' %}">
    <meta name="yandex-verification" content="71dd7ace062fdb4c" />
    <link rel="shortcut icon" href="{% static 'shortlink/img/favicon.png' %}" type="image/png">
</head>
<body>

{% include 'shortlink/navbar.html' %}
<main role="main" class="container">
    {% block body %}

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} m-2" id="msg" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        {% block content %}{% endblock %}
    {% endblock %}
    <div>
        {% include 'shortlink/footer.html' %}
    </div>
</main>
{% block extra_body %}{% endblock %}
</body>
</html>
