{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <main class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <br>
                <h4>{% trans "Sign Up" %}</h4>



                {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>&nbsp;or

                {% endblocktrans %}
                <br>
                <br>
                <a class="btn btn-outline-dark" href="/accounts/google/login/" role="button"
                   style="text-transform:none">
                    <img width="20px" style="margin-bottom:3px; margin-right:5px"
                         alt="Google sign-in"
                         src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                    Login with Google
                </a>

                <br>
                <br>

                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}

                            {{ form|crispy }}


                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button class="btn btn-warning" type="submit">{% trans "Sign Up" %}</button>
                </form>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </main>
{% endblock %}
